@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet');
:root {
font-family: 'Playfair', sans-serif;
--main-color: #B41414;
}
body {
    max-width: 980px;
    margin: auto;
    font-family: 'Playfair', sans-serif;
}
.navbar span {
    color: var(--main-color);
}
.navbar-brand {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Playfair';
}
.navbar-nav {
    font-size: 18px;
    font-family: 'Playfair';
}
.nav-item {
    font-size: 20px;
}
@media( min-width: 980px) {
#navPortfolio {
    margin-left: 340px;
}
}
.nav-link {
    margin-left: 20px;
}
.cover {
    background-image: url(../img/me.jpg);    
    background-position:  center;
    background-size: cover;
    min-height: 220px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    }
.cover-title {
    font-size: 38px;
    font-family: 'Playfair';
    margin-left: 30px;
    margin-right: 200px;;
    display: flex;
    flex-wrap: wrap;
}
.cover-subtitle {
    font-size: 18px;
    margin-left: 30px;
    
}
@media (min-width: 500px) {
    .cover-title {
    font-size: 50px;
    margin-left: 50px;
    }
    .cover-subtitle {
    font-size: 24px;
    margin-left: 50px;
    color:grey
    }
    .cover {
        min-height: 500px;
        background-position: 65% 35%;
    }
}

@media (min-width: 660px) {
    .cover-title {
    font-size: 76px;
    margin-left: 60px;
    }
    .cover-subtitle {    
    margin-left: 60px;   
    }
}
.about-me {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
} 
.card {
    padding: 30px;
    padding-bottom: 0em;
    display: flex;
    align-items: center;
    width: 18rem;
    
}
.card p{
    color:grey;
    }
.icons {
    display: flex;
 }
 a.nav-item.nav-link {
     padding: 3px;
 }
 .placeholder {
     min-height: 100px;
 }
  @media (min-width: 500px) {
     .card {
      width: 25rem;   
     }
 }
 @media (min-width: 600px) {
     .card {
      width: 32rem;   
     }
 }
 @media (min-width: 700px) {
     .card {
      width: 40rem;   
     }
 }
 .portfolio {
     margin: 0px 40px 0px 40px;
 }
 .portfolio h2 {
     text-align: center;
     font-size: 52px;
     margin: 40px 0px 40px 0px;
 }
 #button-portfolio {
    
    display: flex;
    justify-content: center;
    margin: 100px 0px 100px 0px;
    
 }
  #button-portfolio a{
    border: 2px solid #B41414;
    border-radius: 0.19em;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(243, 240, 236);    
  }
  #button-portfolio a:hover {
      background-color: var(--main-color);
      color:white;
  }
  .photo-grid {
      display: flex;
      flex-direction: column;
      margin: 0px 40px 0px 40px;
  }
  .photo-grid img {
    display: block;
    width: 100%;
    margin: 10px;
    filter: drop-shadow(0px 0px 10px black);
}
  @media (min-width: 500px){
  .photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a a b b b c"
                         "a a b b b c"
                         "d d e f f f"
                         "d d e f f f";
    grid-gap: 20px;
}
  .photo-grid img {
    margin: 0px;
  }
#baby1 {
    grid-area: a;
}
#baby2 {
    grid-area: b;
}
#baby3 {
    grid-area: c;
}
#baby4 {
    grid-area: d;
}
#baby5 {
    grid-area: e;
}
#baby6 {
    grid-area: f;
}
#baby1:hover {
    transform: scale(2);
    z-index: 1;
    filter: drop-shadow(10px 50px 50px);
}
#baby2:hover {
    transform: scale(1.5);
    z-index: 1;
    filter: drop-shadow(5px 50px 50px);
}
#baby3:hover {
    transform: scale(3);
    z-index: 1;
    filter: drop-shadow(5px 50px 50px);
}
#baby4:hover {
    transform: scale(2);
    z-index: 1;
    filter: drop-shadow(5px 50px 50px);
}
#baby5:hover {
    transform: scale(3);
    z-index: 1;
    filter: drop-shadow(5px 50px 50px);
}
#baby6:hover {
    transform: scale(1.5);
    z-index: 1;
    filter: drop-shadow(5px 50px 50px);
}
  }
footer {
  background-color: var(--main-color);  
  text-align: center;
  color: white;
}

.footer-title {
       font-size: 30px;
       font-weight: bold;
          }
.footer-title span {
       font-size: 18px;
       font-weight: normal;
   }
.createdBy {
       font-size: 14px;
   }
.footer-text a{
       text-decoration: none;
       color:white;
       font-weight: bold;
   }
  @media (min-width: 660px) {
      .footer-text {
          display: flex;
          justify-content: space-between;
          margin: 0px 60px 0px 60px;
         }
       .createdBy {
          display: flex;
          justify-content: space-between;
          margin: 0px 60px 0px 60px;
         }
         .footer-title {
            text-align: start;
            margin-top: 20px;
         }      
         .footer-link {
            margin:40px 5px 0px 40px;
         }
         .footer-links {
             display: flex;             
         }
  }